# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.pot
*.mo

# Django
*.sqlite3
db.sqlite3
/media/
staticfiles/
static/
local_settings.py

# If you are using Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# PyCharm
.idea/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.egg
*.egg-info/
.installed.cfg
*.dll
*.dylib
*.exe
*.msi
*.app
*.pdb

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# mypy
.mypy_cache/

# Celery
celerybeat-schedule

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Local configuration files
*.local

# Ansible
.ansible/

# Logs and databases
*.log
*.sql
*.sqlite3

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
